<div class="attributes-and-skills-container">
    <div class="attribute-container">
        <h1>Força</h1>
        <button>+1</button>
    </div>
    <div class="skill-container">
        <div class="skill">
            <p>Atletismo</p>
            <button>+1</button>
        </div>
    </div>
</div>

<div class="attributes-and-skills-container">
    <div class="attribute-container">
        <h1>Vitalidade</h1>
        <button>+1</button>
    </div>
    <div class="skill-container">
        <div class="skill">
            <p>Resistência</p>
            <button>+1</button>
        </div>
    </div>
</div>

<div class="attributes-and-skills-container">
    <div class="attribute-container">
        <h1>Agilidade</h1>
        <button>+1</button>
    </div>
    <div class="skill-container">
        <div class="skill">
            <p>Acrobacia</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Furtividade</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Ladroagem</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Reflexos</p>
            <button>+1</button>
        </div>
    </div>
</div>

<div class="attributes-and-skills-container">
    <div class="attribute-container">
        <h1>Carisma</h1>
        <button>+1</button>
    </div>
    <div class="skill-container">
        <div class="skill">
            <p>Atuação</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Diplomacia</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Enganação</p>
            <button>+1</button>
        </div>
    </div>
</div>

<div class="attributes-and-skills-container">
    <div class="attribute-container">
        <h1>Vontade</h1>
        <button>+1</button>
    </div>
    <div class="skill-container">
        <div class="skill">
            <p>Concentração</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Coragem</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Intimidação</p>
            <button>+1</button>
        </div>
    </div>
</div>

<div class="attributes-and-skills-container">
    <div class="attribute-container">
        <h1>Sabedoria</h1>
        <button>+1</button>
    </div>
    <div class="skill-container">
        <div class="skill">
            <p>Lidar com Animais</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Medicina</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Percepção</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Sobrevivência</p>
            <button>+1</button>
        </div>
    </div>
</div>

<div class="attributes-and-skills-container">
    <div class="attribute-container">
        <h1>Inteligência</h1>
        <button>+1</button>
    </div>
    <div class="skill-container">
        <div class="skill">
            <p>Arcanismo</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Conhecimento</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Construir</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Investigação</p>
            <button>+1</button>
        </div>
        <div class="skill">
            <p>Religião</p>
            <button>+1</button>
        </div>
    </div>
</div>