<link rel="stylesheet" href="styles/character-sheet.css">

<div class="container">
    <div id="top-section">
        <h1 id="character-name">Nepheri</h1>
        <div>
            <h2>Nível 9 - Clérigo 8 / Bardo 1</h2>
            <small>Classe e Nível</small>
        </div>
        <div>
            <h2>Charlatão</h2>
            <small>Antecedentes</small>
        </div>
        <div>
            <h2>Tiefling</h2>
            <small>Raça</small>
        </div>
        <div>
            <h2>Neutro e Bom</h2>
            <small>Alinhamento</small>
        </div>
    </div>
    <hr>
    <div id="main-section">
        <div id="attributes-and-skills-section"></div>
        <div id="abilities-section"></div>
        <div id="equipment-section"></div>
    </div>
</div>