@import url("top-section.css");
@import url("character-sheet/attributes-and-skills.css");

#character-name {
    font-size: 38px !important;
}

#main-section {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
#main-section div h1 {
    font-size: 16px;
}

#character-name {
    font-weight: 600;
}