@import url("styles.css");

button {
    margin: 10px 0px;
    width: 80px;
}

select {
    margin-bottom: 10px;
}

#interface {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#left-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
}
#upper-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
}

.classes {
}

#classes-table {
    margin-top: 5px;
}

#subclass {
    display: none;
}

#alignment-table,
table {
    border-collapse: collapse;
}

#alignment td,
#alignment th, 
th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    width: 66px;
    text-align: center;
}

#alignment .left-label {
    text-align: end;
    background-color: grey;
    font-size: 16px;
}

#alignment th,
th {
    background-color: grey;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

#alignment .table-top-left {
    border-top: 0px;
    border-left: 0px;
    background-color: darkgray;
}

