@import url("styles.css");
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
    font-family: Helvetica, sans-serif;
    font-family: "Belanosima";
}

header {
    background-color: #333;
    padding: 5px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fdf1d9;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button {
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

h1,
h2,
h3 {
    color: #751d14;
}