@import url("styles.css");

button {
    margin: 5px 0px;
    min-width: 80px;
}

select {
    margin-bottom: 10px;
}

#interface {
    margin: 10px;
}

#top-section {
    display: flex;
    flex-direction: row;
}

#top-section button {
    margin: 10px;
}

#upper-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.classes {
}

#classes-table {
    margin-top: 5px;
}

#section-name-race{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#subrace-element{
    display: none;
}

#subclass-element {
    display: none;
}

#alignment th,
th {
    background-color: grey;
}

#alignment .table-top-left {
    border-top: 0px;
    border-left: 0px;
    background-color: darkgray;
}

#alignment .left-label {
    text-align: end;
    background-color: grey;
    font-size: 14px;
    font-weight: bold;
}

#alignment table {
    width: max-content;
}

#class-level {
    margin-bottom: 5px;
}