* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #222;
    color: #f5f5f5;
}

h1 {
    text-align: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid #555;
    background-color: #333;
    color: #f5f5f5;
    border-radius: 5px;
}
button:hover {
    filter: drop-shadow(1px 1px 2px #33333333);
    transform: scale(1.025);
}

input {
    height: max-content;
    outline: 0;
    background-color: #333;
    color: #f5f5f5;
    border: 1px solid #555;
    padding: 5px;
}

select {
    padding: 5px;
    outline: 0;
    background-color: #333;
    color: #f5f5f5;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
    font-size: 12px;
}

th {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: grey;
}

.element {
    background-color: #192026;
    color: #f5f5f5;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 50px;
}