@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

* {
    font-family: "Belanosima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fdf1d9;
    color: black;
}

h1 {
    text-align: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid #888;
    background-color: #5555;
    color: #000;
    border-radius: 5px;
}
button:hover {
    filter: drop-shadow(1px 1px 2px #33333333);
    border: 1px solid #999;
    transform: scale(1.025);
    color: white;
    background-color: #4b130d;
}

input {
    height: max-content;
    outline: 0;
    background-color: #333;
    color: #f5f5f5;
    border: 1px solid #555;
    padding: 5px;
}

select {
    padding: 5px;
    outline: 0;
    background-color: #333;
    color: #f5f5f5;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
    font-size: 12px;
}

th {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: grey;
}

.element {
    background-color: #192026;
    color: #f5f5f5;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1,
h2,
h3 {
    color: #751d14;
}