@import url("styles.css");

header {
    background-color: var(--header-bg);
    padding: 5px;
}
header button {
    background-color: var(--header-button-bg);
    padding: 5px;
    margin-left: 5px;
}
header button:hover {
    border: 1px solid var(--header-button-bg);
}

#top-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 50px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-items: flex-end;
    background-color: var(--container-bg);
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#top-section h1,
#top-section h2,
#top-section h3 {
    margin: 5px;
}

#top-section h1 {
    font-size: 22px;
}

#top-section h2 {
    font-size: 18px;
}

#top-section h3 {
    font-size: 14px;
}
